h1, h2, h3{
    font-family: Ubuntu;
}
body {
    font-size: 15px;
    font-family: Ubuntu;
}

.padding-bottom {
    padding-bottom: 20px;
}

.padding-top {
    padding-top: 20px;
}

/* <editor-fold descr="main-content"> */


#main-content  .highlight.blue
{
    background-color: blue;
    color:white;
}

#main-content img
{
    max-height: 100%;
}


#main-content.container, #main-content .row {
    background-color: #e1eae7;
}

#main-content .box {
    background-color: white;
    padding: 15px;
}

#main-content .equal-height {
    position: relative;
}

#main-content .equal-height .box {
    background-color: White;
    bottom: 0;
    left: 15px;
    position: absolute;
    right: 0px;
    top: 0;
}

#main-content .row.fixed-height [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

#main-content {
    padding: 25px;
}

#main-content #wrapper {
    background-color: white;
    padding: 25px 35px;
}

#main-content h1, #main-content h2 {
    margin: 0;
    padding: 0;
}

#main-content .row.no-margin {
    margin-left: -5px;
    margin-right: -5px;
}

#main-content .highlight {
    background-color: #fdd017;
    padding-bottom: 15px;
    padding-top: 15px;
}

#main-content .title.highlight {
    padding-bottom: 24px;
    padding-top: 24px;
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4 {
    margin: 0;
    padding: 0;
}

.highlight h1 {
    font-size: 42px;
    font-weight: bold;
}
/* </editor-fold> */

/* <editor-fold descr="menu"> */
#header {
    margin-bottom: 40px;
}

#menu {
    float: right;
    padding-top: 20px;
}

#menu li {
    display: inline-block;
    border-radius: 10px;
}

#menu li a {
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #444444
}

#menu .menu-item {
    transition: 0.2s ease-in-out;
}

#menu .menu-item:hover {
    background-color: #fcd017;
}

#menu .menu-item:hover a {
    color: white;
    text-decoration: none;
}

#donate {

    background-color: #ffae19;
}

#donate:hover a {
    text-decoration: none;
}
/* </editor-fold> */

/* <editor-fold descr="footer"> */
#footer h2 {
    color: #fdd017;
}

#footer {
    background-color: #545454;
    padding-bottom: 60px;
    padding-top: 20px;
}

#full-footer {
    background-color: #343434;
    color: white;
}

#full-footer a {
    color: white;
}

#full-footer .copyright {
    margin-top: 10px;
}

#full-footer #fundingInfo {
    font-size: 14px;
}

#footer a {
    color: #cccccc;
}

#footer .program-info img {
    padding-top: 0px;
    height: 80px;
    border-radius: 5px;
    margin-top: 20px;
}

#footer ul {
    list-style: none;
    padding-left: 0;
}

#footer li {
    margin-bottom: 7px;
    margin-right: 5px;
}

.post-social ul li {
    display: inline;
}

.post-social i {
    border-radius: 6px;
    display: block !important;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 45px;
    color: white;
}

.post-social i.fa-facebook {
    background: none repeat scroll 0 0 #6767ed;
}

.post-social i.fa-linkedin {
    background: none repeat scroll 0 0 #7cb6f7;
}

.post-social i.fa-google-plus {
    background: none repeat scroll 0 0 #ed6d46;
}

.post-social i.fa-twitter {
    background: none repeat scroll 0 0 #4b6e98;
}

.post-social i.fa-github {
    background: none repeat scroll 0 0 #222222;
}

/* </editor-fold> */

#references {
    display: none;
}

#chat {
    margin-top: 60px;
    margin-bottom: 60px;
}

#cube, #exclamation{
    padding-left: 0px;
}


/* <editor-fold descr="map"> */
#map
{
    position:relative;
    width:100%
}

#map #countries-info
{
    top:0;
}
@media (max-width: 1199px) {

    #map #countries-info {
        display:none;
    }
}
@media (min-width: 1200px) {


    #map {
        overflow: hidden;
    }

    #vis
    {
        will-change: transform;
    }
    #map.activated #vis {
        margin-left:-300px;
        -webkit-transition:all 1s ease .25s;
        -moz-transition:all 1s ease .25s;
        transition:all 1s ease .25s;
    }

    #map  #countries-info {
        will-change: auto;
        overflow-y: scroll;
        position: absolute;
        right: -600px;
        width: 600px;
        z-index: 10;
    }

    #map.activated #countries-info
    {
        border-left:10px solid #fdd017;
        right:0;
        -webkit-transition:all 1s ease;
        -moz-transition:all 1s ease;
        transition:all 1s ease;
    }

    #map,#vis,#countries-info
    {
        height:750px;
    }


}


#map.activated #countries-info
{
    display:block;

}


#map .country ul {
    list-style: outside none none;
    padding-left: 20px;
}

#map .country li
{
    margin-bottom:10px;
}
#map .country p
{
    margin:0;
}

#map .country h2 {
    margin-top: 10px;
    padding-left: 20px;
}
#map .country h2 span {
    display: inline-block;
    font-size: 18px;
    padding-left: 20px;
}

#map .country hr {
    margin: 20px;
    padding: 0;
}


#vis {
	background-color: white;
}
#countries-info {
    font-size:14px;
    background-color:white;
    padding:10px;

}
/* </editor-fold> */

.modalwider {
    width: 850px;
}

